@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 2; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 2; }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 70%;
    margin: auto;
}

/* clearfix box attribute */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.box{
    width: calc(100% / 3 - 20px);
    float:left;
    margin: 5px 0px 20px 5px ;
    transition: display 0.5;
    
}
img{
    width:100%;
    padding-bottom: 10px;
}
.boxtext{
    position: relative;
}
.boximg{
    position: relative;
}

/* picture section  */
.secondpicture {
    display: none;

}

.box:hover .firstpicture {
    display: none;

}

.box:hover .secondpicture {
    display: block;
    cursor: pointer;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.box:hover .heart{
    color: red;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.boximg .heart{
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: white;
    line-height: 10px;
    height: 10px;
    font-size: 10px;
    font-weight: 0px;
}
.boximg .sconto{
    position: absolute;
    display: inline-block;
    color: white;
    background-color: red;
    font-size: 3px;
    line-height: 5px;
    text-align: center;
    height: 5px;
    width: 10px;
    bottom: 20px;
    left: 0px;
    font-weight: 800;
}
.boximg .sostenibilita{
    position: absolute;
    display: inline-block;
    color: white;
    background-color:green;
    font-size: 3px;
    line-height: 5px;
    text-align: center;
    height: 5px;
    width: 20px;
    bottom: 20px;
    left: 11px;
    font-weight: 800;
}
.boximg .foto6{
    position: absolute;
    color: white;
    background-color:green;
    font-size: 3px;
    line-height: 5px;
    text-align: center;
    height: 5px;
    width: 20px;
    bottom: 20px;
    left: 0px;
    font-weight: 800;
}
/* end picture */

/* box text */
.boxtext{
    font-size: 2px;
    font-weight: 400;
    position: absolute;

}

.boxtext.green{
    position: absolute;
    width: calc(100% / 3 - 50px);
    height: 15px;
    top: 85px;
    background-color:#75AC51;
    padding-left: 5px;
    padding-top: 3px;
}

span{
    color: red;
    position: absolute;
    padding-top: 4px;
}
/* fine box text */
