*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix box attribute */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.box{
    width: calc(100% / 3 - 20px);
    float:left;
    margin: 10px;   
}
.box img{
    width:100%;
}

/* picture section  */
.secondpicture {
    display: none;
}

.box:hover .firstpicture {
    display: none;
}

.box:hover .secondpicture {
    display: block;
    cursor: pointer;
}
